{% block map_widget %}
  <div {{ block('widget_container_attributes') }}>

    {# Bundle Styles #}
    {% block map_css %}

      {# Leaflet styles #}
      {% block map_leaflet_css %}
        <link href="{{ asset('bundles/curiousincmapformtype/vendor/leaflet/dist/leaflet.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/curiousincmapformtype/vendor/leaflet-control-geocoder/dist/Control.Geocoder.css') }}" rel="stylesheet" />
      {% endblock %}

    {% endblock %}

    {# Bundle Layout #}
    {% block map_html %}

      {# Search Field #}
      <div class="form-group">
        <div class="col-xs-9 col-sm-8 col-md-7 col-lg-6">
          <input type="text" id="{{ id }}_search_input" class="form-control"
                 placeholder="{% trans %}Search for a location{% endtrans %}" />
        </div>
        <div class="col-xs-3">
          <span class="btn btn-default">{% trans %}Search{% endtrans %}</span>
        </div>
      </div>


      {# Map Placeholder #}
      <div id="{{ id }}_map" style="
        {% if map_dimensions.height is defined %}height: {{ map_dimensions.height }};{% endif %}
        {% if map_dimensions.width is defined %}width: {{ map_dimensions.width }};{% endif %}
        margin-bottom: 14px;">
      </div>

      {# Fields as defined in FormBuilder #}
      {% block map_fields %}
        {% for child in form %}
          {{ form_row(child) }}
        {% endfor %}
      {% endblock %}

    {% endblock %}

    {# Scripts #}
    {% block map_scripts %}

      {# Leaflet Scripts #}
      {% block map_leaflet_scripts %}
        <script src="{{ asset('bundles/curiousincmapformtype/vendor/leaflet/dist/leaflet.js') }}"></script>
        <script
          src="{{ asset('bundles/curiousincmapformtype/vendor/leaflet-control-geocoder/dist/Control.Geocoder.js') }}"
        ></script>
      {% endblock %}

      {# Init Map #}
      <script src="{{ asset('bundles/curiousincmapformtype/js/leaflet-embed.js') }}"></script>
      <script>
        var $mapView = new CuriousMap(
          {
            latitude: {{ defaults.latitude }},
            longitude: {{ defaults.longitude }},
            zoom: {{ defaults.zoom }},
            mapId: '{{ id }}_map',
            latId: '{{ id }}_latitude',
            longId: '{{ id }}_longitude',
            currentLocationId: undefined
          }
        );
      </script>
    {% endblock %}

  </div>
{% endblock %}
